/*
 * Typography
 *
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.25em;
}

/*
 * Header
 *
 */
#header .region-header {
  display: flex;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
  margin: 1em 0;
}

/* Logo and site name, slogan. */
#block-catapult-branding {
  min-height: 65px;
  display: flex;
  flex: 1 0 0;
  justify-content: flex-start;
}
#block-catapult-branding img {
  display: block;
  height: 65px;
  width: auto;
  margin: 0 1em;
}
#block-catapult-branding .branding-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 65px;
}
.site-name {
  font-size: 2em;
}
.site-name a {
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  font-style: italic;
}

/* Main menu stuff, not navigation, just block though. */
#block-catapult-main-menu {
  flex: 2 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 1em;
}

/*
 * Navigation
 *
 */
ul.menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
}
ul.menu li.menu-item {
}
ul.menu a {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-size: 1.4em;
  text-decoration: none;
  color: #000;
}
ul.menu a:hover {
  text-decoration: underline;
}

/*
 * Block Row
 *
 */
.region-block-row {
  display: flex;
  flex-direction: row;
}

/*
 * Content
 *
 */
.layout-content {
  margin: 0 2em;
}

/*
 * Footer
 *
 */
.region-footer {
  margin: 0 1em;
}
