/*
 * Typography
 *
 */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.6em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1.8em;
}

h6 {
  font-size: 1.5em;
}

p {
  font-family: 'Lora', serif;
  font-size: 1.25em;
}

/*
 * Header
 *
 */
.site-name {
  color: black;
  font-size: 2em;
}
.site-name a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  font-style: italic;
}

/*
 * Navigation
 *
 */
ul.menu {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  ul.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
ul.menu li.menu-item {
  font-size: +120%;
  padding: 0.3em;
}
@media screen and (min-width: 900px) {
  ul.menu li.menu-item {
    margin: 0 0.4em;
  }
}
ul.menu a {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}
ul.menu a:hover {
  text-decoration: underline;
}


/*
 * Hero image
 *
 */
#hero-image {
  display: flex;
  max-height: 70vh;
}
iframe#hero-image {
  width: 100vw;
}
#hero-image figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#hero-image img {
  width: 100vw;
}

/*
 * Hero block
 *
 */
.region-hero {
  margin: 3em;
}

/*
 * Block Row
 *
 */
.region-block-row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .region-block-row {
    flex-direction: row;
  }
  .region-block-row .block {
    flex: calc(100 / 3) 0 0;
  }
}

/*
 * Content
 *
 */
.layout-content {
  margin: 0 2em;
}

/*
 * Footer
 *
 */
.region-footer {
  margin: 0 1em;
}
