.flex-container {
  display: flex;
}
.flex-item {
  flex: 1 1 0;
}
.block-row-block {

}
.block-row-block > .flex-item {
  margin: 0 1em;
}
.block-row-block > .flex-item > h2 {
  text-align: center;
}
.block-row-block > .flex-item > p {
  line-height: 1.35em;
}
